*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.6;
  height: 100vh;
  background: url(../img/mainbanner_toned2.png), linear-gradient(to top left, #085fa9, #7ba0b5);
  background-position: 50% 10%; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: #000;
  display: inline-block; }

.container {
  padding: 2rem 5rem; }

.hero {
  width: 90%;
  min-height: 90%;
  background: url(../../img/mainbanner_toned2.png);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
