@mixin fullFlex($jus) {
  display: flex;
  justify-content: $jus;
  align-items: center;
}
@mixin flex {
  display: flex;
  align-items: center;
}

@mixin respond($bp) {
  @if $bp == biggest {
    // 1000px
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
  @if $bp == big {
    // 920px
    @media only screen and (max-width: 57.5em) {
      @content;
    }
  }
  @if $bp == xl {
    // 855px
    @media only screen and (max-width: 53.43em) {
      @content;
    }
  }
  @if $bp == lg {
    // 768px
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
  @if $bp == md {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $bp == sm {
    // 413px
    @media only screen and (max-width: 25.81em) {
      @content;
    }
  }
  @if $bp == smallest {
    // 375px
    @media only screen and (max-width: 23.43em) {
      @content;
    }
  }
}
