$colorDark: #000;
$colorRedLight: #fc9389;
$colorRedDark: #fd7669;
$colorBlueDark: #103c55;

$colorBluePrimary: #085fa9;
$colorBlueSecondary: #7ba0b5;

$colorGrayLight: #ddd;

$fontLato: "Lato", sans-serif;
