.featurs {
  @include fullFlex(space-between);

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.contact {
  width: 45rem;
  text-align: center;
  color: $colorWhite;

  @media only screen and (max-width: 1000px) {
    width: 100%;
    margin-top: 2rem;
  }

  &__box {
    position: relative;
    background-color: $colorRedDark;
    padding: 1rem 0.8rem;
    padding-right: 2rem;
    box-shadow: 0 1rem 2rem rgba($colorDark, 0.2);
    width: 28rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .callIcon {
    @include flex;
    position: absolute;
    padding: 0 2rem;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $colorRedLight;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: darken($colorRedLight, 20%);
    }
  }
}
