.hero {
  width: 90%;
  min-height: 85vh;
  background: url(../../img/mainbanner_toned2.png);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba($colorDark, 0.5);
}

.nav {
  @include flex;
  font-size: 1.6rem;

  &__list {
    @include flex;
    margin-right: auto;
    font-weight: 300;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    @include flex;
    transition: all 0.2s;
    padding: 0.5rem 1rem;
    position: relative;
    text-transform: capitalize;

    i {
      margin-left: 0.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0.2rem;
      background-color: #f00;
      bottom: 0;
      left: 0;
      transition: all 0.3s cubic-bezier(0.54, -0.13, 0.43, 1.23);
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.btn {
  border-radius: 10rem;
  font-weight: 300;
  padding: 0.7rem 1.8rem;
  text-transform: capitalize;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba($colorDark, 0.2);

  &:hover {
    box-shadow: 0 1rem 2rem rgba($colorDark, 0.4);
  }

  &__white {
    margin: 0 1rem;
    background-color: #fff;

    &:hover {
      background-color: $colorBluePrimary;
      color: #fff;
    }
  }

  &__orange {
    background-color: $colorRedDark;
    margin: 2rem 0;
    color: #fff;

    &:hover {
      background-color: darken($colorRedDark, 10%);
    }
  }
}

.content {
  padding: 10rem 0;
}

.form {
  &__group {
    position: relative;
    width: 30rem;
  }
  &__input {
    width: 100%;
    padding: 1rem;
    padding-left: 5rem;
    background-color: transparent;
    border-bottom: 1px solid $colorGrayLight;
    font-size: 1.4rem;
    transition: all 0.3s;

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      border-bottom-color: $colorRedDark;
    }
  }

  &__input:placeholder-shown + &__label {
    top: 50%;
    left: 5rem;
    font-size: 1.4rem;
    transform: translateY(-50%);
  }

  &__label {
    position: absolute;
    text-transform: capitalize;
    left: 5rem;
    top: -2rem;
    font-size: 1.2rem;
    transition: all 0.3s;
    color: $colorGrayLight;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    color: $colorGrayLight;
  }
}

.featurs {
  @include fullFlex(space-between);
}

.cards {
  @include flex;
  width: 70%;
  overflow-x: scroll;
  border-radius: 1rem;
  padding: 1rem;
}

.card__box {
}

.card {
  width: 25rem;
  text-align: center;
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba($colorDark, 0.2);

  &-1 {
    background-color: #7ba0b5;
  }
  &-2 {
    background-color: #389ad1;
  }
  &-3 {
    background-color: #085fa9;
  }
  &-4 {
    background-color: #103c55;
  }

  &__content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1rem 1rem;
  }

  &__header {
    padding: 3rem 0;
    color: #fff;
    text-transform: uppercase;
  }
}

.contact {
  width: 25%;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #ff0;

  &__box {
    position: relative;
    background-color: #fd7669;
    padding: 1.5rem 1rem;
    padding-right: 2rem;
    box-shadow: 0 1rem 2rem rgba($colorDark, 0.2);
  }

  .callIcon {
    @include flex;
    position: absolute;
    padding: 0 2rem;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fc9389;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: darken(#fc9389, 20%);
    }
  }
}
