*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px === 1rem

  @include respond(lg) {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: $fontLato;

  background: url(../img/mainbanner_toned2.png),
    linear-gradient(to top left, $colorBluePrimary, $colorBlueSecondary);
  background-position: 50% 15%;
  background-repeat: no-repeat;
}

main {
  @include fullFlex(center);
  padding: 5rem 0;

  @include respond(md) {
    padding: 0;
  }
}

a {
  &,
  &::after,
  &::before {
    text-decoration: none;
    color: $colorDark;
    display: inline-block;
  }
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: 0;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 0;
  }
}

.container {
  padding: 2rem 5rem;

  @include respond(big) {
    padding: 2rem 1rem;
  }
  @include respond(md) {
    padding: 2rem 0rem;
  }
}
