.arrow {
  @include fullFlex(center);
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.2s;

  @include respond(smallest) {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    color: $colorRedDark;
  }
}
