.cards {
  @include flex;
  width: 90%;
  overflow-x: hidden;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;

  @include respond(lg) {
    width: 100%;
  }
  @include respond(md) {
    flex-direction: column;
    padding: 0;
  }
}

.card__box {
  @include respond(md) {
    width: 100%;
    padding: 0;
  }
}

.card {
  width: 25rem;
  text-align: center;
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba($colorDark, 0.2);

  @include respond(md) {
    margin: 1rem 0;
    width: 100%;
    border-radius: 0;
  }

  &-1 {
    background-color: $colorBlueSecondary;
  }
  &-2 {
    background-color: $colorBlueLight;
  }
  &-3 {
    background-color: $colorBluePrimary;
  }
  &-4 {
    background-color: $colorBlueDark;
  }

  &__content {
    background-color: $colorWhite;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1rem 1rem;

    @include respond(md) {
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }

  &__header {
    padding: 3rem 0;
    color: $colorWhite;
    text-transform: uppercase;
  }
}
